# Introduction to Python

@ logical operators
using pyhton code to perfom calcutation , compare value etc

Basin Arithmtic Operations

In [2]:
# ssume you want a calcutate your total monthly expenses
food=300
rent=500
wifi=1500
misscellaneous=3500
savings=3000


total_expenses = food + rent + wifi + misscellaneous + savings
print("Total monthly expenses this month was: ", total_expenses)

Total monthly expenses this month was:  8800

In [5]:
total_salary=40000
leftover = total_salary - total_expenses
print(f"my bank balance at the end of the month is:  {leftover} am not okey ")

my bank balance at the end of the month is:  31200 am not okey

In [4]:
#how much bundles i spend monthly
data_bundles=20 # 20 shillings daily
day_of_the_month=30
total_bundles_expenses = data_bundles * day_of_the_month
print(f"my monthly  expenses on data bundles is  {total_bundles_expenses}kes")

my monthly  expenses on data bundles is  600kes

In [7]:
# special math operations
total_cookies = 23
total_people = 5
cookies_per_person = total_cookies // total_people
print(f"Each person gets {cookies_per_person} cookies")

Each person gets 4 cookies

In [9]:
#modulo didvision
# remainder cookies
left_over_cookies=total_cookies % total_people
print(f"reminning cookies were {left_over_cookies}")

reminning cookies were 3

In [11]:
# example of learning  for a party
# Planning a party
guests = 12
slices_per_pizza = 8
# How many pizzas do we need?
pizzas_needed = guests // slices_per_pizza # Whole pizzas
extra_slices_needed = guests % slices_per_pizza # Leftover guests
print(f"We need {pizzas_needed} pizzas") 
if extra_slices_needed > 0:
    print(f"Plus we need {extra_slices_needed} more slices (so get one more pizza)")

We need 1 pizzas
Plus we need 4 more slices (so get one more pizza)

In [ ]:
#Comparison Operators (Asking Questions About Data)
These operators help you compare things and get True/False answers:

In [23]:
my_age=20
my_friends_age=36

same_age= my_age== my_friends_age # returns false

different_age= my_age != my_friends_age
print("are we the same age as my friends?", same_age)
print("are we defferent age with my friends?", different_age)

are we the same age as my friends? False
are we defferent age with my friends? True

In [ ]:
age = input("enter you age")

if int(age) >= 21:
    print("You can drink")
else:
    print(" not allow to drink")

### Logical Operators (Combining Multiple Conditions)

In [3]:

# to drive you must have a license and 18 year & above
age =20
has_license=False
can_drive= age>=18 and has_license==True # return false
print("can i drive?", can_drive)

can i drive? False

In [4]:
# You can sleep in if it's EITHER Saturday OR Sunday
day = "Saturday"

is_saturday = day == "Saturday" #true
is_sunday = day == "Sunday" # false

can_sleep_in = is_saturday or is_sunday
print("Can sleep in:", can_sleep_in) # Shows: True

Can sleep in: True

Think of not like flipping a switch - it makes True become False, and False become True:

In [6]:
# If it's NOT raining, we can have a picnic
is_raining = False
can_have_picnic = not is_raining
print("Can have picnic:", can_have_picnic) # Shows: True

Can have picnic: True

Making Decisions with if/elif/else

In [ ]:

temperature =32
if temperature>=25:
    print("its too hit!! hydrate")
else:
    print("normal!! hydrate")

its too hit!! hydrate

### if-else Statements (Choose between two options)

In [12]:

age=25

if age>=18:
    print("you are eligible to vote")
else:
    print("you can not vote")

you are eligible to vote

In [ ]:
## create  a grading system
marks=65
if marks >80:
    print("your grade is A")
elif marks >=70 and marks<=79:
    print("your grade is B")
elif marks>=60 and marks<=69:
    print("your grad C")
elif marks>=50 and marks<=59:
    print("your grad is D")
else:
    print("you Failed!!")

your grad C

## List

In [ ]:
fruit=[] # empty list
print("prints")
[]
pruits=["apple," "organges","mangoes","pineapples","Grapes"]
print(pruits)

##

prints
['apple,organges', 'mangoes', 'pineapples', 'Grapes']

In [9]:
numbers=[1,4,5,34,76,87,5]
print("numbers")

numbers

In [10]:
## create shoping List
shoping_List=["toothbruh","oil","fuel","unga"]
# print first3 item
print("shoping_List")

shoping_List

In [11]:
# appending == adding item to the end
countries=["kenya","uganda","congo"]
print(countries)
countries.append("south sudan")
print(countries)

['kenya', 'uganda', 'congo']
['kenya', 'uganda', 'congo', 'south sudan']

In [12]:
# inserting item at specific position
# insert  tanzania between kenya and uganda
countries. insert(1, "tanzania") # inserts tanzania at posittion [1]
print(countries)

['kenya', 'tanzania', 'uganda', 'congo', 'south sudan']

In [13]:
# Remove by name
countries. remove("congo")
print(countries)

['kenya', 'tanzania', 'uganda', 'south sudan']

In [24]:
# Remove the last item on the list
print(shopping_list)
shoping_List.pop()
    print(shoping_List)

IndentationError: unexpected indent (846965769.py, line 4)

loops

In [21]:
shopping_list=["toothbruh","oil","fuel","unga"]
for item in shopping_list:
    print("item")

item
item
item
item

In [22]:
for country in countries:
    print(country)

kenya
tanzania
uganda
south sudan

In [ ]:
for i in range (1,6):# START
    print(i)

1
2
3
4
5

## Dictonaries

In [24]:
students={
"name:" "damour",
"Age": 25,
"email":"kuothmaar@gmail.com",
"course":"data analytice",
print( students ["name"])
    
}

SyntaxError: invalid syntax (3617331220.py, line 3)

In [31]:
# print student name
print(students ["name"])

NameError: name 'students' is not defined

In [ ]:
#working with dictionaries
student_grades={
    
}

In [4]:
 # Real-world example: Student grades
 student_grades = {
    "Alice": 92,
    "Bob": 87,
    "Carol": 95,
    "David": 78,
    "Eva": 89,
   print(student_grades)


}

SyntaxError: ':' expected after dictionary key (2571712468.py, line 8)

What Are Functions? (Creating Your Own Tools)
 Think of a function like a recipe or a tool. Once you write the recipe, you can use it over and over without
 rewriting all the steps.

In [32]:
name ="john"
print("hello,",name)

hello, john

In [33]:
def greet(name):
    print("hello,", name)
    greet("mary")

In [42]:
def add (a,b):
  return a + b # share the resuit

add (46,67)

113

In [43]:
add(345,23)

368

In [13]:
 # Function to analyze grades
 def analyze_grade(score):
    if score >= 90:
        print ("A")
        print ("Excellent work!")
    elif score >= 80:
        print ("B")
        print("Good job!")
    elif score >= 70:
        print ("c")
        print ("Satisfactory")
    elif score >= 60:
        print ("D")
        print  ("Needs improvement")
    else:
        print ("F")
        print ("Please see the teacher")

In [55]:
analyze_grade(90)

A
Excellent work!

In [ ]:
analyze_grade(85)  # Example usage

B
Good job!

In [14]:
analyze_grade(55)  # Example usage

F
Please see the teacher

In [16]:
analyze_grade(60)  # Example usage

D
Needs improvement

In [17]:
analyze_grade(70)

c
Satisfactory

###handling error

In [5]:
age= int(input("enter their age:"))
print(age)

ValueError: invalid literal for int() with base 10: ''

In [13]:
name="simon"
print(name)

simon

## handling erroe gracefully

In [7]:
try:
    age= input("enter your age:")
    age=int(age)
    
    print("you are",age,"years old")
except ValueError:
    print("that 's not a valid number.plesae enter your digits")

you are 45 years old

In [5]:
def safe_division():
try:
   num1= float(input("enterthe first number:"))
   num1= float(input("enterthe second number:"))
    
    result= num1/num2
    print(f"{num1}/ {num2} = {result}")
    
except  ValueError
    print("please enter valid numbers only")
except ZeroDivisionError:
    print("connot divide by 0")
except e:
    print("error", e)

IndentationError: expected an indented block after function definition on line 1 (1935007468.py, line 2)

In [ ]:
 def safe_division():
    try:
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))
        result = num1 / num2
        print(f"{num1} ÷ {num2} = {result}")
    
    except ValueError:
        print("Please enter valid numbers only!")
    except ZeroDivisionError:
        print("Cannot divide by zero!")
    except:
        print("Something unexpected happened!")

In [2]:
#Real-World Error Handling Example
def get_student_grade():
    while True:
        try:
            name=input("students name")
            if name.strip() =="":
                print("please enter a valid name")
                continue
            
            score= int(input("enter students score(0-100)"))
            if score< 0 or score >100:
                print("the score must be between 0 and 100")
                continue
            
            return name, score
        except ValueError:
            print("enter vaild number")
        except KeyboardInterrupt:
            exit
        except:
            print("unknown error",e)

In [4]:
get_student_grade()

('duelkuoth', 12)